---
interface Props{
    class?: string
    title: string
    subtitle?: string
}
const {title, subtitle} = Astro.props
---


<article 
    class={`${Astro.props.class} 
    relative rounded-xl backdrop-blur-md border 
    border-black/10 shadow-inner shadow-white/10 group overflow-hidden`}
>
<div class="
    absolute z-10 top-0 bottom-0 w-full h-full bg-gradient-to-b from-transparent from-40% via-black/20 to-black/60"
    >
</div>
<slot name="image"></slot>
<div class="flex select-none flex-col gap-1 p-6 text-lg z-20 justify-end h-full">
    <h2 class="font-bold text-2xl text-balance text-white mb-4 z-20">{title}</h2>
    {subtitle && <h3 class="text-xl font-semibold mb-4 -mt-4 text-white">{subtitle}</h3>}
    <slot name="content"></slot>
</div>
</article>