---
import BentoItem from "./BentoItem.astro";
---
<section
    class="w-full max-w-[1400px] grid grid-cols-10 auto-rows-[35rem] gap-4 mx-auto p-20"
>
    <BentoItem class="col-span-10 md:col-span-6" title="ANDORRA: EL CÉNIT DE LOS PREMIOS ESLAND">
        <div 
            slot="image" 
            class="
            absolute left-0 top-0 bottom-0 w-full h-full object-cover object-center
            group-hover:scale-110 duration-1000 ease-in-out opacity-90 
            bg-center bg-cover bg-no-repeat -z-10"
            style="background-image: url('/mountain.webp')"
            />
        <p slot="content" class="z-20">Una nueva edición <strong>cargada de novedades</strong> y contenido, que empezará varias semanas antes de la ansiada gala. <strong>Directos especiales, colaboraciones, conciertos y mucho más</strong> en lo que será una auténtica fiesta dedicada a la creación de contenido.</p>
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-4" title="LA ALFOMBRA BLANCA" subtitle="16 de febrero de 2024"/>
    <BentoItem class="col-span-10 md:col-span-4" title="LA GALA" subtitle="17 de febrero de 2024"/>
    <BentoItem class="col-span-10 md:col-span-6" title="DISFRUTA DEL REDDIT DE LA COMUNIDAD" />
</section>