---
import Logo from "./Logo.astro"
---
<header id="header-nav" class="h-16 w-full max-w-7xl top-0 fixed md:px-6 py-2 z-50 mx-auto">
    <div class="justify-between items-center flex">
    <div class="w-60 z-[100]">
        <a href="#video" class="">
            <Logo class="w-32" />
        </a>
    </div>
    <nav class="w-full hidden md:flex md:justify-center items-center gap-x-10 font-semibold">
        <a href="" class="lg:text-base text-sm hover:cursor-pointer text_header_footer">VOTÁ</a>
        <a href="/info" class="lg:text-base text-sm hover:cursor-pointer text_header_footer">INFO</a>
        <a class="lg:text-base text-sm hover:cursor-pointer text_header_footer">ARCHIVO</a>
    </nav>
    <div class="w-60 hidden md:flex justify-center items-center whitespace-nowrap px-6 py-1 border rounded-[25px] font-semibold">
        <button class="lg:text-base text-sm text_header_footer">
            ESLAND: EL DOCUMENTAL
        </button>
    </div>
    <div class="md:hidden px-6 py-2 flex items-center z-[100]">
        <button id="menu-hamburger" class="hover:cursor-pointer">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button>
        <!-- <button id="menu-hamburger-close" class="hidden hover:cursor-pointer">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
            </svg>
        </button> -->
    </div>
    </div>
    <div id="menu-mobile" class="-translate-y-full transition-transform h-screen w-full md:hidden bg-[#151a36]/90 fixed top-0 left-0 right-0 z-[90]">
        <nav id="menu-mobile-nav" class="h-full w-full flex flex-col justify-center items-center gap-y-10">
            <a class="text-xl text_header_footer hover:cursor-pointer">VOTÁ</a>
            <a href="/info" class="text-xl text_header_footer hover:cursor-pointer">INFO</a>
            <a href="/archivo" class="text-xl text_header_footer hover:cursor-pointer">ARCHIVO</a>
            <div class="flex justify-center items-center whitespace-nowrap border rounded-[25px] px-6 py-2">
                <button class="text-xl text_header_footer w-fit">
                    ESLAND: EL DOCUMENTAL
                </button>
            </div>
        </nav>
        <div class="bottom-0 flex justify-center items-center gap-8">
            <!-- iconos redes sociales -->
        </div>
    </div>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const menu_hamburger = document.getElementById('menu-hamburger')
        const menu_mobile = document.getElementById('menu-mobile')

        menu_hamburger?.addEventListener('click', function() {
            menu_mobile?.classList.toggle('translate-y-0')
            document.body.classList.toggle('overflow-hidden')
        })
        
})


</script>