---
import Logo from "./Logo.astro"
---
<header class="h-14 w-full top-0 fixed backdrop-blur-sm py-2 flex justify-between items-center z-50 mx-auto px-6">
    <div class="w-10 flex flex-grow basis-0">
        <a href="#video" class="">
            <Logo />
        </a>
    </div>
    <nav class="w-full md:flex md:flex-grow md:justify-center items-center gap-x-10 basis-0">
        <a class="text-xl">VOTÁ</a>
        <a class="text-xl">INFO</a>
        <a class="text-xl">ARCHIVO</a>
    </nav>
    <div class="md:flex md:flex-grow justify-end whitespace-nowrap basis-0">
        <button class="">
            ESLAND: EL DOCUMENTAL
        </button>
    </div>
</header>