---
import { getI18N } from '../i18n/';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---


<div class="relative group block">
    <div class="bg-black/30 rounded-md text-xs hover:bg-black/70 block p-1 mb-1">
        <button type="button" class="flex justify-start items-center gap-2 px-3 py-1" aria-expanded="true">
            <!-- Bandera España -->
            <span>{currentLocale == 'es' ? "Español" : "Catalá"}</span>
            <!-- Flecha para abajo -->
        </button>
    </div>
    <div class="bg-black/30 hover:bg-black/70 hidden rounded-md text-xs group-hover:absolute group-hover:block w-full p-1">
        <button id="language-selector" type="button" class="flex justify-start items-center gap-2 px-3 py-1" aria-expanded="true">
            <!-- Bandera Catalan -->
            <span>{currentLocale == 'ca' ? "Español" : "Catalá"}</span>
            <!-- Flecha para abajo -->
        </button>
    </div>
</div>

<script>
    document.body.addEventListener('DOMContentLoaded', () => {
        const languageSelector = document.getElementById('language-selector')
    
        languageSelector?.addEventListener('click', () => {
            // const newLocale = currentLocale == 'es' ? 'ca' : 'es'
            // i18n.changeLocale(newLocale)
        })
    })
</script>