---
import { getI18N } from '../i18n/';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---


<div class="group gap-3 block">
<div class="bg-black/30 rounded-md text-xs hover:bg-black/70 block p-1">
    <button type="button" class="flex justify-start items-center gap-2 px-3 py-1" aria-expanded="true">
        <!-- Bandera España -->
        <span>{currentLocale == 'es' ? "Español" : "Catalá"}</span>
        <!-- Flecha para abajo -->
    </button>
</div>
<div class="bg-black/30 hover:bg-black/70">
    <button type="button" class="hidden group-hover:block justify-start items-center gap-2 px-3 py-1 rounded-md text-xs" aria-expanded="true">
        <!-- Bandera Catalan -->
        <span>{currentLocale == 'ca' ? "Español" : "Catalá"}</span>
        <!-- Flecha para abajo -->
    </button>
</div>
</div>