---
import { getI18N } from '../i18n/';
const { currentLocale } = Astro
const i18n = getI18N({ currentLocale })
---


<div class="relative group block">
    <div class="bg-black/30 rounded-md text-xs group-hover:bg-black/70 block p-1">
        <button type="button" class="flex justify-start items-center gap-2 px-3 py-1" aria-expanded="true">
            <!-- Bandera España -->
            <span>{currentLocale == 'es' ? "Español" : "Catalá"}</span>
            <svg class="w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 8">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 5.326 5.7a.909.909 0 0 0 1.348 0L13 1"/>
            </svg>
        </button>
    </div>
    <div class="bg-black/70 hidden rounded-md text-xs group-hover:animate-fade-down group-hover:absolute group-hover:block w-full p-1 mt-[2px]">
        <button id="language-selector" type="button" class="flex justify-start items-center gap-2 px-3 py-1 w-full" aria-expanded="true">
            <!-- Bandera Catalan -->
            <span>{currentLocale == 'ca' ? "Español" : "Catalá"}</span>
        </button>
    </div>
</div>

<script>
    document.body.addEventListener('DOMContentLoaded', () => {
        const languageSelector = document.getElementById('language-selector')
    
        languageSelector?.addEventListener('click', () => {
            // const newLocale = currentLocale == 'es' ? 'ca' : 'es'
            // i18n.changeLocale(newLocale)
        })
    })
</script>